#selfphoto{
position:absolute;
float:left;
top:100px;

}

footer{
position:absolute;
top:70%;
left:39%;
color:white;
}

body{
background-image:url(http://img.pconline.com.cn/images/upload/upc/tx/wallpaper/1205/16/c2/11636298_1337141644195.jpg)
}
#index_main{
margin-top:30px;

}
#introduce{
position:absolute;
top:100px;
left:700px;
color:white;
}
#github{
width: 70px    
    
}
#Fork{
color: black;  
  
}