
body{
background-color:black;
background-image: url(../image/blog/background.jpg);
background-repeat:no-repeat;
}



.one_blog{
background:gray;
opacity:0.8;
padding:20px 10% 20px 20px;
margin:30px 30% 30px 5%;
}

div.one_blog:hover{


margin:30px 33% 30px 6%;
}

footer{
float: bottom;
text-align:center;
top:70%;
left:39%;
color:white;
}
