.code{
font-family: "courier New";
font-weight: bloder;
color: cadetblue;
background-color:black;
margin: 0px 100px 0px 20px;
padding: 10px 10px 10px 50px;
font-size: 15px;
}

h1{
border-bottom: 1px solid black;

}
body{
line-height:1.5em;
font-size:medium;
}
#main{
padding:20px 50px 20px 50px;
margin:20px 50px 20px 50px;
}
header{
text-align:center;
font-size:30px;
background-color:;
padding:20px 50px 20px 50px;
margin-bottom:20px;
}
footer{
float:bottom;
text-align:center;
background-color:black;
color:white;
}
h1{
text-align:center;
}
#photo{
position:fixed;
left:200px;
top:100px;
}

#main{
z-index:-1;

}
