
body{
background-image:url(image/index/background.jpg);
background-repeat:no-repeat;
}

#uploadphoto{

position:absolute;
top:30%;
left:32%;

}
footer{
position:absolute;
top:70%;
left:39%;
color:white;
}
